.section-wrapper{
    background-color: var(--color-dark);
    border-radius: var(--border-radius-primary);
    padding: var(--padding-primary);
    margin-top: var(--margin-primary);
    color: var(--color-light);
}